*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: aquamarine;
}
.bday-div {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
  max-width: 40vw;
  margin-top: 3vw;
/* background-color:white; */
}
.bday-div h1{
  font-size: 3vw;
  text-align: center;
}
.bday-div label{
  padding-top: 2vw ;
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
}
.bday-div input{
  margin-top: 1vw;
  min-height: 3vw;
  min-width: 20vw;
  font-size: 2vw;
}
.bday-div button{
  margin: 2vw;
  min-width: 10vw;
  min-height: 3vw;
  font-size: 2vw;
}
.bday-div button:hover{
  background-color: black;
  color: white;
}
#output-div {
  font-size: 2vw;
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
  background-color: aliceblue;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  min-height: 100px;

}
footer a{
  margin: 1rem;
  color: black;
font-size: 3rem;
padding: 1rem;
}
footer a:hover{
  color: rgb(197, 19, 37);
}